@import url("./reset.css");
@import url("./header.css");
@import url("./footer.css");

html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 75vh;
}

@import url("./index.css");
