<header class="header">
  <div class="container">
    <a href="/index.html" class="logo">
      <img src="../assets/img/logo-hanh.jpg" alt="Logo" />
    </a>

    <nav class="nav">
      <ul>
        <li><a href="/index.html">Trang chủ</a></li>
        <li><a href="/pages/about.html">Giới thiệu</a></li>
        <li><a href="/pages/blog.html">Blog</a></li>
        <li><a href="/pages/cart.html">Giỏ hàng</a></li>
        <li id="user-menu"><a href="/pages/login.html" >Đăng nhập</a></li>
      </ul>
    </nav>
  </div>
</header>
